<h1>Listing <%= plural_name %></h1>

<table>
  <thead>
    <tr>
<% for attribute in attributes -%>
      <th><%= attribute.column.human_name %></th>
<% end -%>
      <th>&nbsp;</th>
    </tr>
  </thead>
  
  <tbody>
<%% for <%= singular_name %> in @<%= plural_name %> %>
    <tr>
<% for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
      <td>
        <%%= link_to 'Show', :action => 'show', :id => <%= singular_name %> %>
        <%%= link_to 'Edit', :action => 'edit', :id => <%= singular_name %> %>
        <%%= link_to 'Destroy', :action => 'destroy', :id => <%= singular_name %> %>
      </td>
    </tr>
<%% end %>
  </tbody>
</table>

<p>
  <%%= will_paginate @<%= plural_name%> %>
</p>

<p>
  <%%= link_to 'New <%= singular_name %>', :action => "new" %>
</p>