<h1>Confirm <%= singular_name %></h1>

<%%= render :partial => 'detail' %>

<%% form_tag({:id => @<%= singular_name %>.id}) do -%>
  <%%= params_to_hidden_tag :<%= singular_name %>, :back => true %>
  <input type="submit" value="back" />
<%% end -%>
<%% form_tag(save_action(@<%= singular_name %>)) do -%>
  <%%= params_to_hidden_tag :<%= singular_name %> %>
  <input type="submit" value="save" />
<%% end -%>
