<%= form_for(@project, :url => save_action(@project, :mode => "draft")) do |f| %>
<% if @project.errors.any? %>
<% @project.errors.full_messages.each do |msg| %>
<p><%= msg %></p>
<% end %>
<% end %>


<table class="bordered-table zebra-striped">
    <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
</table>

<%= f.submit :class => "btn primary" %>
<% end %>
