<h1>Listing projects</h1>

<%= form_tag(nil, :method => :get) do %>
<%= label :search, :name %>:<%= text_field :search, :name %><br />
<%= label :search, :like_name %>:<%= text_field :search, :like_name %><br />
<%= submit_tag :search %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project_tasks_path(:project_id => project.id) %></td>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Delete', project_path(project, :mode => "draft") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path %>
