<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
            <th>Name</th>
            <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <tbody>
    <% @projects.each do |project| %>
    <tr>
              <th>Name</th>
        <td><%= project.name %></td>
            <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Delete', project_path(project, :mode => "draft") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path %>
