<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Code</li>
          <% @codes.each do |code| %>
          <li><%= link_to code, :anchor => code %></li>
          <% end %>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    
    <div class="span10">
      <% @codes.each do |code| %>
      <a name="<%= code %>"></a><h2><%= code %></h2>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <% sample = C.send(code).values.first %>
            <% C.send(code).headers.each do |c| %>
            <th><%= c %>:<%= sample.send(c).class.to_s %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% C.send(code).values.each do |record| %>
          <tr>
            <% C.send(code).headers.each do |c| %>
            <td><%= record.send(c) %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div><!--/span-->
  </div><!--/row-->

</div><!--/.fluid-container-->
