<%%= form_for(@<%= singular_table_name %>, :url => save_action(@<%= singular_table_name %>, :mode => "draft")) do |f| %>
<%% if @<%= singular_table_name %>.errors.any? %>
<div class="alert-message block-message error">
  <a class="close" href="#">X</a>
  <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>
  
    <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
    <p><%%= msg %></p>
    <%% end %>
  </div>
</div>
<%% end %>


<table class="bordered-table zebra-striped">
  <% for attribute in attributes -%>
  <tr>
    <th><%%= f.label :<%= attribute.name %> %></th>
    <td><%%= f.<%= attribute.field_type %> :<%= attribute.name %> %></td>
  </tr>
<% end -%>
</table>

<%%= f.submit :class => "btn primary" %>
<%% end %>
